
@layer utilities{
    .user-info-item{
        position: relative;
        cursor: pointer;
        padding: 10px 15px;
        border-radius: 5px;
        &:hover{
            background-color: rgb(200, 200, 200,0.5)
        }
        transition: all 0.2s ease-in-out;

        overflow: hidden; /* 确保波纹不会溢出按钮 */
        border: none;
    }
}